<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Flash Card</title>
</head>
<body>

<h2>Edit Flash Card</h2>

<form action="/update-flashcard/${editflashcard.id}" method="post" th:object="${editflashcard}">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" th:field="*{name}" required>
    <br>
    <label for="frontLabel">Front Label:</label>
    <textarea id="frontLabel" name="frontLabel" th:field="*{frontLabel}" rows="4" required></textarea>
    <br>
    <label for="backLabel">Back Label:</label>
    <textarea id="backLabel" name="backLabel" th:field="*{backLabel}" rows="4" required></textarea>
    <br>
    <button type="submit">Update Flash Card</button>
</form>

</body>
</html>
